.abc{
    position:absolute;
    top:45%;
    left:45%;
}

button{
    background-color: red;
    padding: 50px;
    border-radius: 20px;
}
.popup{
    position: absolute;
    padding:20px;
    background-color: blanchedalmond;
}